@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;
$hoverColor: hsla(37, 84%, 51%, 0.78);

@mixin hover {
  background-color: $hoverColor;
  transition: background-color 300ms ease;
}

@mixin flag {
  width: 30px;
  position: absolute;
  top: 110px;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@mixin fadeOut($dur, $del) {
  animation-name: fadeOut;
  animation-duration: $dur;
  animation-delay: $del;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}

html {
  @include full-height;
}

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  background-color: black;
  cursor: default;
  color: white;
}

.Header {
  height: 220px;
  background-image: url('https://s-media-cache-ak0.pinimg.com/736x/4e/11/39/4e1139abff047d1c78af1b26604045de.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .title {
    position: relative;
    width: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: cursive;
    background-color: hsla(0, 0%, 0%, 0.3);
    border-radius: 30px;
    height: 150px;

    h1 {
      text-align: center;
      padding: 0 10px;
      opacity: 1;
    }

    h3 {
      width: 350px;
      text-align: center;
      padding: 0 40px;
    }

    .brazil {
      @include flag;

      left: 10px;
    }

    .ireland {
      @include flag;

      right: 10px;
    }
  }

  .NavBar {
    width: 100%;

    .navItemList {
      list-style: none;
      display: flex;
      flex-flow: row-reverse;
      margin: 0;
      border-radius: 10px;

      .navItemDrop {
        background-color: hsla(0, 0%, 0%, 0.8);
        display: flex;
        flex-direction: column;

        .navItem {
          padding: 10px;

          &:hover {
            @include hover;

            color: #333;
          }

          &:active {
            background-color: blue;
          }
        }
      }

      .DropDown {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        position: absolute;
        list-style: none;
        background-color: black;

        li {
          padding: 4px 10px;

          &:hover {
            @include hover;
          }
        }
      }
    }
  }
}

.Home {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .homeTitle {
    @include fadeOut(1s, 2.3s);

    margin-top: 0;
    width: 100%;
    height: 400px;
    text-align: center;
    background-image: linear-gradient(to bottom, hsla(226, 80%, 30%, 0.68), hsla(4, 17%, 49%, 0.61));

    .welcome {
      @include fadeOut(1s, 300ms);

      width: 100%;
      vertical-align: baseline;
    }

    .bars {
      @include fadeOut(1s, 1.3s);

      font-size: 1.7em;
      color: hsl(147, 62%, 49%);
      animation-name: fadeOut;
      animation-duration: 1s;
      animation-delay: 1.3s;
      animation-timing-function: ease-in;
    }
  }

  .home-image {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 500ms;
    animation-delay: 3s;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
  }
}

.Menu {
  background-image: url('../../public/dinner-meal-blurry.jpeg');
  height: 700px;
  background-size: cover;

  h2 {
    text-align: center;
    background-color: hsla(0, 0%, 0%, 0.3);

    &:hover {
      @include hover;
    }
  }
}

a {
  color: white;
  text-decoration: none;
}

.MenuDetails {
  background-color: hsla(0, 0%, 0%, 0.3);
  text-align: center;
}
