@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

@mixin flag {
  width: 30px;
  position: absolute;
  top: 110px;
}

html {
  @include full-height;
}

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  background-color: black;
  cursor: default;
  color: white;
}

.Header {
  background-color: red;
  height: 220px;
  background-image: url('https://s-media-cache-ak0.pinimg.com/736x/4e/11/39/4e1139abff047d1c78af1b26604045de.jpg');
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .title {
    position: relative;
    width: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: cursive;
    background-color: hsla(0, 0%, 0%, 0.3);
    border-radius: 30px;
    height: 150px;

    h1 {
      text-align: center;
      padding: 0 10px;
      opacity: 1;
    }

    h3 {
      width: 350px;
      text-align: center;
      padding: 0 40px;
    }

    .brazil {
      @include flag;

      left: 10px;
    }

    .ireland {
      @include flag;

      right: 10px;
    }
  }

  .NavBar {
    width: 100%;

    .navItemList {
      list-style: none;
      display: flex;
      flex-flow: row-reverse;
      margin: 0;
      border-radius: 10px;

      .navItemDrop {
        background-color: hsla(0, 0%, 0%, 0.8);
        display: flex;
        flex-direction: column;

        .navItem {
          padding: 10px;

          &:hover {
            background-color: hsla(37, 84%, 51%, 0.78);
            color: #333;
          }
        }
      }

      .DropDown {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        position: absolute;
        list-style: none;
        background-color: black;

        li {
          padding: 4px 10px;

          &:hover {
            background-color: hsla(37, 84%, 51%, 0.78);
          }
        }
      }
    }
  }
}

.Menu {
  background: url('http://www196.lunapic.com/do-not-link-here-use-hosting-instead/149433592064598?6506192');

  h2 {
    text-align: center;
    background-color: hsla(0, 0%, 0%, 0.3);
  }
}

a {
  color: white;
  text-decoration: none;
}
